<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="public/css/style.css">
    <title>
        <%= bot.user.username %>
    </title>
</head>

<body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <img src="<%= bot.user.displayAvatarURL() %>" class="img-brand" width="30" height="30" />
                <%= bot.user.username %>
            </a>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
                data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="https://github.com/JeanD56/Bot-Discord">
                    Documentation
                </a>

                <a class="navbar-item" href="/commands">
                    commands
                </a>

                <a class="navbar-item"
                    href="https://discord.com/api/oauth2/authorize?client_id=423887705064079360&permissions=536870911991&redirect_uri=http%3A%2F%2Flocalhost%3A3030%2Fcallback&scope=bot%20applications.commands">
                    invite
                </a>
            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        <a class="button is-warning">
                            Connection
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>